.signup {
    background-color: rgba(112, 110, 110, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* either you can fix it with fixed position or with absolute position */
    position: absolute;
    left: 0;
    top: 0;

    /* position: fixed;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.signup__container {
    width: 30%;
    /* height: 50vh; */
    background-color: var(--color-background);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10); */

}

.signup__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

}

.signup__title>h2 {
    font-size: 32px;
}

.signup__inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.signup__inputs--name {
    display: flex;
}

.signup__inputs--name>input {
    margin: 5px;
    width: 100%;
    height: 2em;
    font-size: 16px;
    padding-left: 0.5em;
    background-color: var(--color-backgroundLight);
    border: none;
    color: var(--color-text);

}

.signup__inputs--password {
    width: 100%;
    margin: 5px;
    position: relative;

}

.signup__inputs--password>input {
    width: 95%;
    height: 2em;
    padding-left: 0.5em;
    font-size: 16px;
    background-color: var(--color-backgroundLight);
    border: none;
    color: var(--color-text);
}

.signup__inputs--password>button {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    margin-left: 10px;
    /* padding: 0.4em; */
    font-size: 1.2em;
    background-color: var(--color-backgroundLight);
    color: var(--color-text);
    border: none;
    cursor: pointer;
}

.signup__inputs>input {
    margin: 5px;
    height: 2em;
    font-size: 16px;
    padding-left: 0.5em;
    background-color: var(--color-backgroundLight);
    border: none;
    color: var(--color-text);
}

.signup__upload {
    width: 100%;
    padding-left: 0.5em;


}

.signup__upload>input {
    margin-top: 1em;
    font-size: 16px;
    cursor: pointer;
}

::-webkit-file-upload-button {
    background-color: var(--color-accent);
    border: none;
    color: var(--color-text);
    padding: 2%;
    border-radius: 7px;
    margin-right: 2%;
}

.signup__button {
    margin-top: 2em;
    width: 40%;
    height: 3em;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--color-accent);
    border: none;
    color: var(--color-text);
}


@media screen and (max-width: 950px) {
    .signup__container {
        width: 50%;
    }

}

@media screen and (max-width: 500px) {
    .signup__container {
        width: 70%;
    }

    .signup__inputs--password {
        width: 97%;
    }
}