.card__container--selected, .card__container {
    width: 92%;
    /* border-radius: 10px; */
    /* height: 30%; */
    margin-bottom: 2%;
    border-bottom: 1px solid rgb(41,41,51);
    display: flex;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
    cursor: pointer;
}

.card__container--selected {
    background-color: var(--color-accent)
}

.card__container {
    /* background-color: white; */
}

.card__profilePicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 2%;
}

.card__details {
    width: 100%;
    margin-left: 2%;

}
.card__subtitle{
    color: var(--color-subText);

}

.card__actions--add {
    font-size: 1.8em;
}